@font-face {
 font-family: 'default';
 font-style: normal;
 src: url('fonts/default.ttf') format('truetype')
}

html {
 overflow: hidden;
 user-select: none;
 /* supported by Chrome and Opera */
 -webkit-user-select: none;
 /* Safari */
 -khtml-user-select: none;
 /* Konqueror HTML */
 -moz-user-select: none;
 /* Firefox */
 -ms-user-select: none;
 /* Internet Explorer/Edge */
}

body {
 font-family: 'default';
 margin: 0 0;
 background: #000;
 background-size: cover;
 color: #fff;
 overflow: hidden;
}

#core {
 display: flex;
 justify-content: center;
 overflow: hidden
}

#splash {
 display: flex;
 grid-row: 1;
 position:absolute;
 background: #000;
 justify-content: center;
 width: 100%;
 height: 100%;
 z-index: 49;
}
#splash > #loadingDiv {
 display: flex;
 justify-content: left;
 position: absolute;
 width: 100%;
 height:100%;
}
#splash > #splashLogoDiv {
 display: flex;
 justify-content: center;
 position: absolute;
 width: 100%;
 height: 100%;
 
}
#splashLogo {
 width:100%;
 height:100%;
 opacity: 0;
 transform: translateY(10em);
}

#menus {
 display: table;
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 10;
 top: 1;
 opacity: 0;
 background: rgba(33, 0, 0, 1);
 transition: top 0.5s ease-in,
  background 0.7s ease-in,
  opacity .6s linear;
 overflow: hidden;
}

.menuClass {
 display: grid;
 position: absolute;
 overflow-y: scroll;
 height: 100%;
 width: 100%;
 padding-top: 3rem;
 opacity: 0;
 top: 100%;
 transition: top 100ms ease-in-out,
  opacity 50ms ease-in-out
}

.settings-list-divider {
 overflow: scroll;
 display: table;
}

.menuActive {
 margin: 0 0;
 opacity: 1;
 top: 0%;
}

.char-ACTIVE {
 background: #FBDA00;
}

gtris-listCell-Detail {
 display: flex;
 justify-content: center
}

gtris-subdiv>gtris-list {
 display: block;
 margin: 0 0;
 width: 100%;
 height: auto;
 overflow-y: scroll;
}

gtris-list>gtris-listCell {
 display: flex;
 padding: 0 0;
 width: 100%;
 height: auto;
 justify-content: center;
 margin: 0 0 1.0em 0;
}

#gamesummary,
#pause-padding {
 display: flex;
 padding: 0 0;
 width: 100%;
 height: 50%;
 justify-content: center;
 margin: 0 0 1.0em 0;
 overflow-y: scroll;
}

gtris-listCell-Details {
 display: flex;
 padding: 0 0;
 width: 100%;
 background: rgba(32, 42, 35, 0.5);
 justify-content: center;
 margin: 0 0 1.0em 0;
 padding-left: 10px;
 overflow: scroll;
}


gtris-button {
 font: 1.25rem 'default';
 display: flex;
 text-align: center;
 width: 50%;
 color: #fff;
 border: 0.1em solid #f0f;
 cursor: pointer;
 border-radius: 2px;
 padding: 0.5rem 0.6rem 0.4rem;
 margin: 0 6em;
 background: #111;
 transition: border-color 0.03s linear;
}

gtris-button-list {
 font: 1.25rem 'default';
 display: inline-block;
 text-align: left;
 width: 100%;
 height: 30%;
 color: #fff;
 border: 2pt solid #e00;
 cursor: pointer;
 border-radius: 10px;
 padding: 1rem 0.4rem 1rem 0.4rem;
 margin: 0 1em;
 background: #111;
 transition: border-color 0.03s linear;
}

#menuHeader {
 background: rgba(0, 0, 0, 0.4);
 display: flex;
 justify-content: left;
 transition: opacity 200ms linear;
}

#menuHeader>* {
 position: relative;
 z-index: 11;

}

#headerBackButton {
 background: #f0f;
 height: 100%;
 content: url(assets/menu/back.png);
 display: none
}

#headerTitle {
 height: 100%;
 vertical-align: center;
 padding-top: 1px;
 padding-left: 1%;
}

img {
 text-indent: -1000px
}

input[type='range'] {
 -webkit-appearance: none;
 /* Override default CSS styles */
 appearance: none;
 width: 100%;
 /* Full-width */
 height: 2em;
 /* Specified height */
 background: #d3d3d3;
 /* Grey background */
 outline: none;
 /* Remove outline */
 opacity: 0.7;
 /* Set transparency (for mouse-over effects on hover) */
 -webkit-transition: .2s;
 /* 0.2 seconds transition on hover */
 transition: opacity .2s;
}

/* Mouse-over effects */
input[type='range']:hover {
 opacity: 1;
 /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type='range']::-webkit-slider-thumb {
 -webkit-appearance: none;
 /* Override default look */
 appearance: none;
 width: 25px;
 /* Set a specific slider handle width */
 height: 25px;
 /* Slider handle height */
 background: #04AA6D;
 /* Green background */
 cursor: pointer;
 /* Cursor on hover */
}

input[type='range']::-moz-range-thumb {
 width: 25px;
 /* Set a specific slider handle width */
 height: 25px;
 /* Slider handle height */
 background: #04AA6D;
 /* Green background */
 cursor: pointer;
 /* Cursor on hover */
}



#tetrion {
 display: flex;
 justify-content: center;
 height: 100%;
 width: 100%;
}

#tetrionLayer {
 display: flex;
 justify-content: center;
 height: 100%;
 width: 100%;
 position: absolute;
 overflow-y: hidden
}

tetrionPadding {
 display: flex;
 justify-content: center;
 height: 100%;
 width: 100%;
 position: absolute;
}

#tetrionResultText {
 position: absolute;
 color: #968;
 transition: none
}

#showResultCharImg {
 position: absolute;
 width: auto;
 height: auto;
 transform: translateY(300px);
 transition: none
}

#resultCharImg {
 position: absolute;
 width: 100%;
 height: 100%;
}

#gtris {
 position: absolute;
 width: 100%;
 height: 100%;
 display:none;
}

#gtris-body {
 display: flex;
 justify-content: center;
 position: absolute;
}

#gtrisLayout {
 height: 100%;
 width: 100%;
 position:absolute;
 display:flex;
 justify-content:center;
 z-index:5;
}
#gtris-readygo {
 font-size: 3em;
 transform: translateY(30vh);
 text-align: center
}

#holdTextPlaceholder,
#nextTextPlaceholder,
#meterBars,
#playField {
 transition: background 300ms linear,
  border-color 300ms linear;
}

#holdTextPlaceholder,
#nextTextPlaceholder {
 background: #fff;
 display: flex;
 justify-content: center;
 position: relative
}

gtris_gui {
 color: #000;
 text-align: center;
 padding: 0%;
}

#clearTexts {
 display: grid;
 grid-column: 1;
 align-content: left;
 position: relative;
 transform: translateX(-3px)
}

#clearTexts>* {
 vertical-align: middle;
 text-align: right;
 width: 200%;
 transform: translateX(-50%);
}

#rightborder,
#leftborder {
 display: table;
 justify-content: top;
 position: relative;
}

#holdCanvas,
#nextCanvas {
 background: #333;
 position: relative;
}

#playField {
 border: 2px solid #fff;
}

#statistics {
 display: table;
 position: absolute;
 border-collapse: collapse;
 border-spacing: 0;
}

statLarge,
stat {
 display: block;
 padding: 0;
}

#fieldCanvas,
#gridCanvas,
#activeCanvas,
#loadedBackground {
 position: absolute;
}

#statistics>* {
 display: block;
 text-align: right;
 position: relative
}

#hiddenSpriteCanvasses {
 display: grid;
 grid-column: 1;
 position: absolute;
 visibility: hidden
}

#meterBars {
 border: 2px solid #fff;
 position: relative;
 overflow: hidden;
 display: none;
}

#meter_A {
 background: #a00;
}
